body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

/* generic */

/*
  naming conventions follow SUIT, a variant of BEM, for component-oriented CSS and soft style encapsulation:
  https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md
*/
.Overlay {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.33) ;
}

.Tray {
  position: fixed;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.Link {
  display: inline-block;
  text-decoration: none;
  color: #26526f;
  padding: 8px;
  border-radius: 3px;
}

.Button {
  cursor: pointer;
  background-color: #26526f;
  color: white;
  padding: 8px;
  margin-right: 16px;
  font-size: inherit;
  border-radius: 3px;
}

.Centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}
.Centered-column--fill {
  flex: 1;
}

.Dialog {
  border: solid 3px #ccc;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}
.Dialog--introduction {
  background-color: rgb(255, 255, 255);
  height: calc(100% - 60px);
  margin: 30px auto;
  overflow-y: auto;
  max-width: 900px;
}
.Dialog--recorder {
  /* bottom: 0;
  position: absolute; */ /* TODO: use only if there are other elements on the page for now */
  background-color: rgba(255, 255, 255, 1);
  display: block;
  width: 100%;
  margin: 0;
  border-bottom: none;
}

/* Introduction */
.Introduction {
  box-sizing: border-box;
  max-width: 800px;
  margin: auto;
}
.Introduction-article {
  box-sizing: border-box;
  max-width: 800px;  
  padding: 5px;
  border: 1px dotted grey;
}

.Introduction-listItem {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.Introduction-paragraph--callout {
  border: solid 1px #e9e9e9;
  background-color: #f6f6f6;
  padding: 8px;
}
  
/* Noise List */

.RecordingList {
}

.RecordingList-container {
  padding: 0;
  margin: 0;
  list-style: none;
}

.RecordingList-item {
  display: block;
  margin: 5px 0;
}

.Recording-container {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.Recording {
  background-color: #e9e9e9;
  display: block;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.Recording--selected {
  background-color: #e9cccc;
  cursor: default;
}
.Recording--recorded {
  opacity: 0.5;
}

.Recording-item {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.Recording-name {
}

.Recording-description {
  flex: 2;
}

.Recording-instructions {
  display: none;
  flex: 4;
}

.Recording-status {
  font-style: italic;
}

/* Recorder */

.Subheader {
  margin: 0;
}

.Recorder-info {
  display: flex;
}

.Recorder-metadata {
  flex: 2;
}

.Recorder-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.Recorder-examples {
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(216,216,216,0.5);
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: right;
}

.Recorder-exampleAudio {
  margin-bottom: 10px;
}

.Recorder-exampleVideo {
  /* border: solid 1px #999;
  height: 240px;
  width: 320px; */
}

.Recorder-actions {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.Recorder-recordButton {
  box-sizing: border-box;
  background-color: red;
  border: solid 4px lightpink;
  border-radius: 50%;
  padding: 5px;
  font-size: 0px;
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.Recorder-recordButton--recording, .Recorder-recordButton--disabled {
  opacity: 0.2;
  cursor: auto;
}
.Recorder-stopButton {
  box-sizing: border-box;
  background-color: black;
  border: solid 4px lightgray;
  border-radius: 0;
  padding: 5px;
  font-size: 0px;
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.Recorder-stopButton--stopped, .Recorder-stopButton--disabled {
  opacity: 0.2;
  cursor: auto;
}

.Recorder-time {
  font-family: monospace;
  font-size: 20px;
  margin-bottom: 10px;
}
.Recorder-time--disabled {
  color: #ccc;
}

.Recorder-description {
  font-size: 20px;
  margin-bottom: 10px;
}

.Recorder-instructions {
  font-size: 16px;
  margin-bottom: 10px;
}

.Recorder-status {
  font-style: italic;
}
.Recorder-status--disabled {
  color: #ccc;
}

.Player {
  margin-bottom: 8px;
}
.Player:last-child { /* TODO: use a variant instead of a pseudo-selector */
  margin-bottom: 0;
}

.Player-header {
  margin-top: 0;
  margin-bottom: 4px;
}

.Player-label {
  font-weight: bold;
  text-align: center;
  display: block;
}

.Review {
  margin-top: 10px;
  text-align: center;
}

.Review-player {
  text-align: center;
}

.DownloadLink--disabled {
  color: #ccc;
}

.Arrow {
  color: rgba(183,183,183,0.5);
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  font-size: 0px;
  cursor: pointer;
  background-color: transparent;
}

.Arrow--disabled {
  color: rgba(207,207,207,0.2);
  cursor: auto;
}
.Arrow:not(.Arrow--disabled):hover {
  color: rgba(159,159,159,0.5);
}

.Arrow--left {
  border-right: 60px solid currentColor;
  border-left: none;
}

.Arrow--right {
  border-left: 60px solid currentColor;
  border-right: none;
}

.IsFlac {
  top: 0;
  right: 0;
  position: absolute;
  padding: 10px;
  border: solid 1px #ccc;
  background-color: rgba(255, 255, 255, 0.50);
  display: none;
}

.IsFlac-label {
}
.IsFlac-label--disabled {
  color: #ccc;
}

.IsFlac-checkbox {
}

.Help {
  position: fixed;
  padding: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
  right: 0;
  bottom: 0;
  height: 30px;
  width: 30px;
  font-size: 0; /* hide text */
  border-radius: 50%;
  background-color: rgba(183,183,183,0.5);
  color: white;
  border: none;
}
.Help:hover {
  background-color: rgba(159,159,159,0.5);
  cursor: pointer;
}

.Help-icon {
  font-size: 18px;
  color: white;
  font-weight: bold;
}
