body {
  height: 100%;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

/* Noise List */

.RecordingList {
}

.RecordingList-container {
  padding: 0;
  margin: 0;
  list-style: none;
}

.RecordingList-item {
  display: block;
  margin: 5px 0;
}

.Recording-container {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.Recording {
  background-color: #e9e9e9;
  display: block;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.Recording--selected {
  background-color: #e9cccc;
  cursor: default;
}
.Recording--recorded {
  opacity: 0.5;
}

.Recording-item {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.Recording-name {
}

.Recording-description {
  flex: 2;
}

.Recording-instructions {
  display: none;
  flex: 4;
}

.Recording-status {
  font-style: italic;
}

/* Recorder */

.Centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.Recorder {
  background-color: rgba(255, 255, 255, 0.75);
  /* bottom: 0;
  position: absolute; */ /* TODO: use only if there are other elements on the page for now */
  display: block;
  border: solid 3px #ccc;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  width: 640px;
  box-sizing: border-box;
}

.Recorder-info {
  display: flex;
}

.Recorder-metadata {
  flex: 2;
}

.Recorder-examples {
  flex: 1;
}

.Recorder-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.Recorder-examples {
  border-radius: 5px;
  padding: 10px;
  background-color: #f6f6f6;
  font-style: 16px;
  margin-bottom: 10px;
}

.Recorder-exampleAudio {
  margin-bottom: 10px;
}

.Recorder-exampleVideo {
  /* border: solid 1px #999;
  height: 240px;
  width: 320px; */
}

.Recorder-actions {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.Recorder-recordButton {
  box-sizing: border-box;
  background-color: red;
  border: solid 4px lightpink;
  border-radius: 50%;
  padding: 5px;
  font-size: 0px;
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.Recorder-recordButton--recording {
  border: solid 6px darkred;
  border-radius: 0;
  box-shadow: inset 0 0 5px 2px darkred;
}
.Recorder-recordButton--disabled {
  opacity: 0.5;
  cursor: auto;
}

.Recorder-time {
  font-family: monospace;
  font-size: 20px;
  margin-bottom: 10px;
}
.Recorder-time--disabled {
  color: #ccc;
}

.Recorder-description {
  font-size: 20px;
  margin-bottom: 10px;
}

.Recorder-instructions {
  font-size: 16px;
  margin-bottom: 10px;
}

.Recorder-status {
  font-style: italic;
}
.Recorder-status--disabled {
  color: #ccc;
}

.Player {
}

.DownloadLink--disabled {
  color: #ccc;
}

.Arrow {
  color: #d6d6d6;
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  font-size: 0px;
  cursor: pointer;
}

.Arrow--disabled {
  color: #efefef;
  cursor: auto;
}
.Arrow:not(.Arrow--disabled):hover {
  color: #d0d0d0;
}

.Arrow--left {
  border-right: 60px solid currentColor;
  border-left: none;
}

.Arrow--right {
  border-left: 60px solid currentColor;
  border-right: none;
}

.IsFlac {
  top: 0;
  right: 0;
  position: absolute;
  padding: 10px;
  border: solid 1px #ccc;
  background-color: rgba(255, 255, 255, 0.50);
}

.IsFlac-label {
}
.IsFlac-label--disabled {
  color: #ccc;
}

.IsFlac-checkbox {
}
