<!DOCTYPE html>
<html>
  <head>
    <title>Noise Sample Collection</title>
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="static/main.css" />
  </head>
  <body>
    <!-- TODO: get rid of the below form after we're done; only used as reference, but may also be used as a backup for browsers that don't support getUserMedia() -->
    <form style="display: none" enctype="multipart/form-data" action="/upload" method="POST">
    <input name="noise" type="file" accept="audio/*;capture=microphone">
    <br>
    <input type="submit">
    </form>
    <div class="RecordingList" data-id="list">
      <ul class="RecordingList-container" data-id="list-container">
        <li class="RecordingList-item" data-id="list-item-1">
          <div class="Recording Recording--selected">
            <ul class="Recording-container">
              <li class="Recording-item Recording-name" data-id="list-item-1-name">Lip pop</li>
              <li class="Recording-item Recording-description" data-id="list-item-1-description"></li>
              <li class="Recording-item Recording-instructions" data-id="list-item-1-instructions"></li>
              <li class="Recording-item Recording-status" data-id="list-item-1-status"></li>
            </ul>
          </div>
        </li>
        <li class="RecordingList-item" data-id="list-item-2">
          <div class="Recording">
            <ul class="Recording-container">
              <li class="Recording-item Recording-name" data-id="list-item-2-name"></li>
              <li class="Recording-item Recording-description" data-id="list-item-2-description"></li>
              <li class="Recording-item Recording-instructions" data-id="list-item-2-instructions"></li>
              <li class="Recording-item Recording-status" data-id="list-item-2-status"></li>
            </ul>
          </div>
        </li>
        <li class="RecordingList-item" data-id="list-item-3">
            <div class="Recording">
              <ul class="Recording-container">
                <li class="Recording-item Recording-name" data-id="list-item-3-name"></li>
                <li class="Recording-item Recording-description" data-id="list-item-3-description"></li>
                <li class="Recording-item Recording-instructions" data-id="list-item-3-instructions"></li>
                <li class="Recording-item Recording-status" data-id="list-item-3-status"></li>
              </ul>
            </div>
          </li>
        </ul>
    </div>
    <div class="Centered">
      <div class="Recorder">
        <p class="Recorder-title"></p>
        <hr>
        <div class="Recorder-info">
          <div class="Recorder-metadata">
            <p class="Recorder-description"></p>
            <!-- TODO: use this if we are going to have a long description as well -->
            <p class="Recorder-instructions" style="display: none"></p>
          </div>
          <div class="Recorder-examples">
            <p class="Recorder-exampleAudio">
              Listen to an example:<br>
              <audio class="Recorder-preview" style="display: none" controls="">
              </audio>
            </p>
            <!-- TODO: only show this if there are actually video examples -->
            <p class="Recorder-exampleVideo" style="display: none">
              Watch a video of the mouth movement:<br><a href="#">Video of mouth movement</a>
            </p>
          </div>
        </div>
        <div class="Recorder-actions">
          <!-- TODO: hide the below until we allow the user to listen/download to their own recording -->
          <audio style="display: none" data-id="player" class="Player" controls disabled></audio>
          <a style="display: none" data-id="download" class="DownloadLink DownloadLink--disabled">Download</a>
          <button data-id="recordButton" class="Recorder-recordButton">Record</button>
          <p data-id="recorderTime" class="Recorder-time">00:00</p>
          <p data-id="recorderStatus" class="Recorder-status">Waiting to record</p>
        </div>
      </div>
    </div>
  </div>
  <script src="static/main.js"></script>
  </body>
</html>
