<!DOCTYPE html>
<html>

<head>
  <title>Talon Noise Collection</title>
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="static/index.css" />
</head>

<body data-id="body">
  <!-- TODO: get rid of the below form after we're done; only used as reference, but may also be used as a backup for browsers that don't support getUserMedia() -->
  <form style="display: none" enctype="multip1/form-data" action="/upload" method="POST">
    <input name="noise" type="file" accept="audio/*;capture=microphone">
    <br>
    <input type="submit">
  </form>
  <div class="RecordingList" data-id="list">
    <ul class="RecordingList-container" data-id="list-container"></ul>
  </div>
  <div class="Tray">
    <div class="Dialog Dialog--recorder">
      <div class="Recorder" data-id="recorder">
        <p class="Recorder-title" data-id="title"></p>
        <hr>
        <div class="Recorder-info">
          <div class="Recorder-metadata">
            <p class="Recorder-description" data-id="description"></p>
            <!-- TODO: use this if we are going to have a long description as well -->
            <p class="Recorder-instructions" style="display: none"></p>
          </div>
        </div>
        <div class="RecordUI">
          <div class="Recorder-examples">
            <div class="Recorder-examplesAudio">
              <h3 class="Subheader">Listen to an example:</h3>
              <p class="Recorder-exampleAudio">
                <div data-id="recorder-examples-list"></div>
              </p>
            </div>
            <div class="Recorder-examplesVideo" style="display: none">
              <!-- TODO: only show this if there are actually video examples -->
              <h3 class="Subheader">Watch a video of the mouth movement:</h3>
              <p class="Recorder-exampleVideo">
                <a href="#">Video of mouth movement</a>
              </p>
            </div>
          </div>

          <div class="RecordUI-column">
            <button class="Arrow Arrow--left" data-id="goBack">Go to previous noise</button>
          </div>
          <div class="RecordUI-column--spaced">
            <div class="Recorder-actions">
              <button data-id="recordButton" class="Recorder-recordButton">Record</button>
              <button data-id="stopButton" class="Recorder-stopButton">Stop</button>
              <p data-id="recorderTime" class="Recorder-time">00:00</p>
              <p data-id="recorderStatus" class="Recorder-status">Waiting to record</p>
            </div>
          </div>
          <div class="RecordUI-column">
            <button class="Arrow Arrow--right" data-id="goForward">Go to next noise</button>
          </div>
        </div>
        <div class="Review" style="display: none">
          <!-- TODO: hide the below until we allow the user to listen/download to their own recording -->
          <p class="Review-player">
            <!-- TODO: convert to accessible custom controls -->
            <h3 class="Subheader">Review your recording:</h3>
            <div data-id="review-player-list"></div>
          </p>
          <a data-id="download" class="DownloadLink DownloadLink--disabled">Download</a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <form class="IsFlac">
    <label class="IsFlac-label" data-id="is-flac-label" for="is-flac-checkbox">FLAC</label>
    <input class="IsFlac-checkbox" data-id="is-flac-checkbox" name="is-flac-checkbox" type="checkbox" checked="checked"></input>
  </form>
  <button class="Help" data-id="help-button"><symbol class="Help-icon">?</symbol>Help</button>
  <div class="Overlay" data-id="interstitial-placeholder" style="display: none"></div>
  <script type="module" src="static/index.js"></script>
</body>

</html>
