<article>
  <h1>Talon Sound Sample Project</h1>
  <h2>Introduction</h2>
  <p class="Introduction-paragraph">Welcome and thank you for contributing to the Talon Sound Sample Project. We are collecting sound samples so that <a class="Link" href="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Palatoalveolar_fricative.png/330px-Palatoalveolar_fricative.png"
    rel="nofollow">Talon, a hands-free input platform</a>, can more accurately recognize sounds such as clicks, pops, hisses, and other mouth sounds.</p>
  <p class="Introduction-paragraph">To begin contributing, read the instructions on how to produce the <strong>click</strong> sound and listen to the example, then press the <span class="Introduction-record">Record</span> button.</p>
  <p class="Introduction-paragraph">After pressing <span class="Introduction-record">Record</span>, pause for one second, and then begin producing the <strong>click</strong> sound several times in a row, each sample separated by one second of silence. When you are done recording, press the <span class="Introduction-stop">Stop</span> button. The sequence will look like this:</p>
  <p class="Introduction-paragraph--callout">press <span class="Introduction-record">Record</span> &rarr; pause for one second &rarr; produce sound &rarr; pause for one second &rarr; produce sound &rarr; pause for one second &rarr; produce sound &rarr; ... &rarr; press <span class="Introduction-stop">Stop</span></p>
  <p class="Introduction-paragraph">You can then resume recording sounds by selecting another sound from the list.</p>

  <h2>Mouth sound basics</h2>
  <p class="Introduction-paragraph">There are 3 main parts to how sound is produced with the mouth:</p>
  <ol>
    <li>HOW the sound is produced - manner of articulation</li>
    <li>WHERE the sound is produced - point of articulation</li>
    <li>VIBRATION of vocal cords - voiced or voiceless To reduce vocal strain, the following sounds focus on voiceless utterances
      with no vocal chord vibration. For an example of vocal chord vibrations, try making an 's' versus a 'z' sound - you
      can feel the vibrations of the 'z' in your neck.</li>
  </ol>
  <ul>
    <li>P uses both lips</li>
    <li>F uses lower lip and upper teeth</li>
    <li>S, T are made using the tongue and alveolar ridge</li>
    <li>TH is made by placing tongue against or between the teeth</li>
    <li>CH, SH is made when the center of the tongue approaches the palate</li>
    <li>K is made when the back of the tongue touches the soft palate, or velar</li>
  </ul>
  <p class="Introduction-paragraph">(Pictures of tongue position for each of these... alveolar/ridges behind front teeth, palate, velar/soft palate, etc:
    <a class="Link" href="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Palatoalveolar_fricative.png/330px-Palatoalveolar_fricative.png"
      rel="nofollow">https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Palatoalveolar_fricative.png/330px-Palatoalveolar_fricative.png</a>)</p>
  <p class="Introduction-paragraph"><strong>P, T, K</strong> are plosives (brief stopping of the airstream)
    <strong>F, S, H</strong> are fricatives (almost blocking airstream)</p>
  <p class="Introduction-paragraph">Many of these sounds will be the same utterances, while using your lips to change their tones.</p>
  <ul>
    <li>Relaxed lips are in their natural state, slightly parted.</li>
    <li>To pull your lips back, raise your cheeks as if you are fake smiling. This should make the pitch higher.</li>
    <li>To push your lips forward, make an "oo" sound and keep your lips in that position. This should make the pitch lower.</li>
  </ul>
  <h2>Terms and Conditions</h2>
  <p class="Introduction-paragraph">By using this website, you agree to abide by the terms and conditions below.</p>
  <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
  </article>