<article class="Introduction-article">
  <h1>Talon Speech Dataset</h1>
  <p class="Introduction-paragraph">
    Thank you for contributing to the Talon Speech Dataset. We are collecting
    recordings to specialize a speech recognition framework for
    <a href="https://talonvoice.com" rel="nofollow">Talon</a>.
  </p>
  <br>
  <p class="Introduction-paragraph">
    If you write down the following unique identifier, you can look up your recordings
    in the published dataset and use them to train a model on your own voice:
    <i id="Introduction-UUID"></i>
  </p>
  <br>
  <p class="Introduction-paragraph">Join #speech-dataset on the Talon chat for help or more info: <a href="https://join.slack.com/t/talonvoice/shared_invite/enQtMjUzODA5NzQwNjYzLTY1NzZjNzM4NjVhZjZhYWFlNmZkYmU2YzE2ZjQxZjcyMTgwNDk5NDg2YzhmZDRmNmEwYThkODEyYjY4ZGZmODE">Join Slack</a></p>

  <h2>Contributing</h2>
  <p class="Introduction-paragraph">
  There are a large number of phonetically-diverse sentences ready to record, taken from the <a href="https://catalog.ldc.upenn.edu/docs/LDC93S1/PROMPTS.TXT">TIMIT prompts</a>.
  </p>
  <ol class="Introduction-list">
    <li class="Introduction-listItem">
      Pick a sentence to record.
    </li>
    <li class="Introduction-listItem">
      When you are ready to record the sentence, press the round
      <span class="Introduction-record">Record</span> button.
    </li>
    <li class="Introduction-listItem">
      After pressing <span class="Introduction-record">Record</span>, wait for
      about one second, then read the sentence out loud in a clear voice.
    </li>
    <li class="Introduction-listItem">
      When you are done speaking, wait a moment, then press the square
      <span class="Introduction-stop">Stop</span> button.
      (If you don't wait, your mouse click can end up in the recording).
      </p>
    </li>
    <li class="Introduction-listItem">
      You can then select another sound from the list and repeat the process.
    </li>
    <li class="Introduction-listItem">
      These sounds will be used to train a speech recognition neural network.
      More recordings as well as different voices, microphones, and
      environments will help the training.
    </li>
    <li class="Introduction-listItem">
      Keyboard shortcuts: You can use "space" on your keyboard to record/stop, and the arrow keys to advance the list.
    </li>
  </ol>

  <p class="Introduction-paragraph">
    If you have questions or comments, join the
    <a
      href="https://join.slack.com/t/talonvoice/shared_invite/enQtMjUzODA5NzQwNjYzLTY1NzZjNzM4NjVhZjZhYWFlNmZkYmU2YzE2ZjQxZjcyMTgwNDk5NDg2YzhmZDRmNmEwYThkODEyYjY4ZGZmODE"
      rel="nofollow"
      >Talon Slack</a
    >
    and ask in the #speech-dataset channel.
  </p>

  <h2>Content Licensing</h2>
  <p class="Introduction-paragraph">
    By using this website, you agree to license all uploaded recordings under
    the
    <a
      href="https://creativecommons.org/publicdomain/zero/1.0/legalcode"
      rel="nofollow"
      >CC0 license</a
    >. This means:
  </p>
  <ul>
    <li class="Introduction-listItem">
      Your recordings will be collected as part of a larger anonymized dataset
      of sound files.
    </li>
    <li class="Introduction-listItem">
      This dataset may be published under a permissive license.
    </li>
    <li class="Introduction-listItem">
      This dataset will be used to train a neural network.
    </li>
  </ul>
</article>
