<article class="Introduction-article">
  <h1>Talon Noise Project</h1>
  <h2>Introduction</h2>
  <p class="Introduction-paragraph">
    Thank you for contributing to the Talon Noise Project. We are collecting
    recordings to train a deep neural network for
    <a href="https://talonvoice.com" rel="nofollow">Talon</a>. It will recognize
    sounds such as clicks, pops, and hisses and allow controlling a computer
    using only a microphone.
  </p>

  <h2>Contributing</h2>
  <p class="Introduction-paragraph">
    Note that this will take approximately 20 to 30 minutes to complete.
  </p>
  <ol class="Introduction-list">
    <li class="Introduction-listItem">
      Pick a sound to record. You can start with <strong>click</strong>, which
      is the first sound.
    </li>
    <li class="Introduction-listItem">
      Read the sound's instructions and listen to the example recording.
    </li>
    <li class="Introduction-listItem">
      When you think you are ready to record the sound, press the round
      <span class="Introduction-record">Record</span> button.
    </li>
    <li class="Introduction-listItem">
      After pressing <span class="Introduction-record">Record</span>, wait for
      about one second, then make the sound 5-10 times to your comfort, pausing
      about one second between each time you make the sound.
    </li>
    <li class="Introduction-listItem">
      When you are done recording, press the square
      <span class="Introduction-stop">Stop</span> button. The sequence will look
      like this:
      <p class="Introduction-paragraph--callout">
        press <span class="Introduction-record">Record</span> &rarr; wait &rarr;
        make sound &rarr; wait &rarr; make sound &rarr; ... &rarr; press
        <span class="Introduction-stop">Stop</span>
      </p>
    </li>
    <li class="Introduction-listItem">
      You can then select another sound from the list and repeat the process.
    </li>
    <li class="Introduction-listItem">
      If you finish recording all of the sounds, feel free to go back and record
      more samples at any time.
    </li>
    <li class="Introduction-listItem">
      These sounds will be used to train a neural network. More recordings as
      well as different voices, microphones, and environments will help the
      training.
    </li>
  </ol>

  <p class="Introduction-paragraph">
    More information about the sounds
    <a
      href="https://github.com/talonvoice/noise/blob/master/noises.md"
      rel="nofollow"
      >can be found here.</a
    >
  </p>
  <p class="Introduction-paragraph">
    If you have questions or comments, join the
    <a
      href="https://join.slack.com/t/talonvoice/shared_invite/enQtMjUzODA5NzQwNjYzLTY1NzZjNzM4NjVhZjZhYWFlNmZkYmU2YzE2ZjQxZjcyMTgwNDk5NDg2YzhmZDRmNmEwYThkODEyYjY4ZGZmODE"
      rel="nofollow"
      >Talon Slack</a
    >
    and ask in the #noise channel.
  </p>

  <h2>Content Licensing</h2>
  <p class="Introduction-paragraph">
    By using this website, you agree to license all uploaded recordings under
    the
    <a
      href="https://creativecommons.org/publicdomain/zero/1.0/legalcode"
      rel="nofollow"
      >CC0 license</a
    >. This means:
  </p>
  <ul>
    <li class="Introduction-listItem">
      Your recordings will be collected as part of a larger anonymized dataset
      of sound files.
    </li>
    <li class="Introduction-listItem">
      This dataset may be published under a permissive license.
    </li>
    <li class="Introduction-listItem">
      This dataset will be used to train a neural network.
    </li>
  </ul>
</article>
